.container {
    height: 100%;
    display: auto;
    grid-gap: 3px;
    grid-template-columns: repeat(auto 1fr);
    grid-template-rows: 1fr auto 1fr;
    grid-template-areas: 
    "p p p p p p p p p p p p"
    "c c c c c c c c c c c c"
    "s s s s s s s s s s s s "
    "q q q q q q q q q q q q";
}



.personal_infor {
    grid-area:h
}

.qualifications {
    grid-area : q;
}

.skills {
    grid-area:c;
}

.contacts {
    grid-area:s;
}
