h1{
    font-size: 3em;
    margin-top: 1em;
}
.banner{
    max-width: 100%;
}
.sub-title{
    background-color: wheat;
    font-size: 1.5em;
    padding:10px;
}
.flex{
    display:flex;
  }
  /* sidebar styling */
  nav a {
    text-decoration:none;
    color:BLACK;
    font-size: 16px;
    display:block;
    border-bottom:1px solid #03A2A2;  
  }
  /*background for sidebar*/
  .sidebar{
    margin-top:15px;
    background:#DAF7A6;
    height:100%;
    width:250px;
    box-shadow:4px 4px 4px #3C3F35;
    border-radius:5px;
    margin-left:1%;
  }

  /* Spacing */
  .fa {
    position: relative;
    top:12px;
    width: 70px;
    height: 36px;
    text-align: center;
    font-size:20px;
  }
  nav span {
    position:relative;
    top:12px;
  }
  .logo{
    position:relative;
    top:0px;
    padding:1px;
    background-color:#CCF581;
    color:#07145D; 
    
    text-align:center;
    line-height: 0.8;
  }
  .logo p{
    color:black;
  }
  .log{
      padding: 3em;

  }
  